# Server Configuration
PORT=8080
ENV=development
=
# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=kenya_info
MONGODB_TIMEOUT=10
=
# Logger Configuration
LOG_LEVEL=info
